.searchContainer {
margin:0px 40px;
   padding: 24px 16px;
  background: #f7f7f7;
}

.searchBox {
    width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  border-radius: 20px;
  padding: 10px 14px;
  width: 320px;
  box-shadow: 0 0 0 1px #e5e5e5;
}

.searchIcon {
  font-size: 24px;
  color: #999;
}

.searchInput {
  border: none;
  outline: none;
  font-size: 24px;
  width: 100%;
  color: #333;
}

.searchInput::placeholder {
  color: #aaa;
}

.searchBtn {
  border: none;
  background: #111;
  color: #fff;
  padding: 8px 12px;
  border-radius: 14px;
  cursor: pointer;
  font-size: 13px;
}

.searchBtn:hover {
  opacity: 0.9;
}
