.searchContainer {
  padding: 50px;
  margin: 0px 40px;
  background: #f7f7f7;
  background: #fff;
  padding-top: 20px;
  border-radius: 15px;
}

.searchBox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  border-radius: 20px;
  padding: 10px 14px;
  width: 250px;
  box-shadow: 0 0 0 1px #e5e5e5;
  height: 40px;
}

.searchIcon {
  font-size: 20px;
  color: #999;
}

.searchInput {
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
  color: #333;
}

.searchInput::placeholder {
  color: #aaa;
}

.searchBtn {
  border: none;
  background: #111;
  color: #fff;
  padding: 8px 12px;
  border-radius: 14px;
  cursor: pointer;
  font-size: 13px;
}

.searchBtn:hover {
  opacity: 0.9;
}


.searchContainerDark {
  background-color: #010715; 
  border: 1px solid #1f2937;
}

.searchBoxDark {
  background-color: transparent;
}

.searchInputDark {
  color: #e2e8f0;
}

.searchInputDark::placeholder {
  color: #94a3b8;
}

.searchIconDark {
  color: #94a3b8;
}




