.card {
  background-color: #315951E5;
  color: white;

  border-radius: 10px;
  padding: 10px 16px;
min-height: 60vh;
   display: flex;
  flex-direction: column;
  gap: 12px;
  align-items:start ;
 
  gap: 12px;

  width: 100%;

  user-select: none;
}

.card:active {

}

.icon {
  font-size: 14px;
}
.taskCard {
  width: 100%;
  background-color: #ef9b28;

  padding: 20px 16px;
  border-radius: 10px;
  margin: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
cursor: grab;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.taskTitle {
  margin: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
}

.taskIcon {
  color: #ffffff;
  font-size: 20px;
}