
/* ============= sidebar-container =================================== */
.sidebar-container .ps-sidebar-container {
  background-color: #0e382f;
  color: white;
  height: 100vh;
}

.sidebar-container .ps-menuitem-root {
  padding: 5px 0px;
}
.sidebar-container .ps-menuitem-root:hover {
  padding: 5px 10px;
}
.sidebar-container .ps-menu-button {
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: transparent !important;
    /* border-left: 5px solid #009247; */
    color: #ef9b28;
    border-radius: 8px;
    background: rgba(239, 155, 40, 0.3) !important;
  }
}
.active-menu {
  color: #ef9b28;
  border-radius: 8px;
  /* background: rgba(239, 155, 40, 0.3) !important; */
}


.header-container {
    background-image: url(/home-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    transition: all 3s ease-in-out
}
